.App {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__inner {
    max-width: 1000px;
    height: 600px;
    display: flex;
    border-radius: 5px;
  }
}
