.App {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__inner {
    height: 600px;
    display: flex;
    border-radius: 5px;
  }
}

.absolute {
  position: absolute;
  top: 20px;
  left: 20px;
}

.active {
  background-color: rgb(255, 255, 255) !important;
}
